

<template>
  <div class="box">
    <div class="text">Trwa połączenie z konsultantem.</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'ConnectedView',
})
</script>

